@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-blue-50: #f4f7fb;
  --color-blue-100: #e8eef6;
  --color-blue-200: #ccdbeb;
  --color-blue-300: #9fbdda;
  --color-blue-400: #6b9ac5;
  --color-blue-500: #497eae;
  --color-blue-600: #376492;
  --color-blue-700: #2d5177;
  --color-blue-800: #294563;
  --color-blue-900: #263b54;
  --color-blue-950: #1f2f44;
}

html {
  font-family: Inter, sans-serif;
}

body {
  background-color: #1f2f44;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lilita One", sans-serif;
  font-weight: 900;
}
