@import "tailwindcss";

@theme {
  --color-blue-50: #f4f7fb;
  --color-blue-100: #e8eef6;
  --color-blue-200: #ccdbeb;
  --color-blue-300: #9fbdda;
  --color-blue-400: #6b9ac5;
  --color-blue-500: #497eae;
  --color-blue-600: #376492;
  --color-blue-700: #2d5177;
  --color-blue-800: #294563;
  --color-blue-900: #263b54;
  --color-blue-950: #1f2f44;
}

html {
  font-family: Inter, sans-serif;
}

body {
  background-color: #1f2f44;
}
