@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-blue-50: #f4f7fb;
  --color-blue-100: #e8eef6;
  --color-blue-200: #ccdbeb;
  --color-blue-300: #9fbdda;
  --color-blue-400: #6b9ac5;
  --color-blue-500: #497eae;
  --color-blue-600: #376492;
  --color-blue-700: #2d5177;
  --color-blue-800: #294563;
  --color-blue-900: #263b54;
  --color-blue-950: #1f2f44;
  --color-dark-950: #0a0a0b;
  --color-dark-900: #111113;
  --color-dark-800: #18181b;
  --color-dark-700: #27272a;
  --color-dark-600: #3f3f46;
}

@font-face {
  font-family: "Gokil";
  src: url("/fonts/Gokil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Format";
  src: url("/fonts/format.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Magna";
  src: url("/fonts/magna.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Format", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Gokil", sans-serif;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Magna", sans-serif;
}
