---
import { Lightbulb, Repeat, Sparkles, User, Rocket, Blocks } from "@lucide/astro";
---
<div class="w-full h-[100vh] bg-white rounded-t-[36px] flex flex-col px-6 py-12 justify-center">
  <h2 class="text-4xl md:text-6xl font-light text-black text-left mb-16 max-w-5xl pl-6 md:pl-12 mx-0 leading-tight">Writing clean code that my future self might understand <span class="text-black font-light border-b-2 border-black pb-1">(hopefully)</span></h2>
  <div class="flex flex-col gap-y-12 max-w-6xl mx-auto w-full">
    <div class="flex flex-row relative">
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><Lightbulb class="w-16 h-16 text-deluge-500" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">Problem Solver</div>
        <div class="text-black text-[19px]">Ability to break down complex problems and develop innovative, efficient solutions.</div>
      </div>
      <div class="hidden md:block h-full w-0.5 absolute top-0 left-1/3 transform -translate-x-1/2 z-10">
        <div class="h-full relative">
          <div class="absolute inset-0 border-r-2 border-dashed border-gray-300"></div>
          <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><Repeat class="w-16 h-16 text-deluge-900" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">Agile Mindset</div>
        <div class="text-black text-[19px]">Applying agile methodologies for incremental value delivery and adaptability to change.</div>
      </div>
      <div class="hidden md:block h-full w-0.5 absolute top-0 left-2/3 transform -translate-x-1/2 z-10">
        <div class="h-full relative">
          <div class="absolute inset-0 border-r-2 border-dashed border-gray-300"></div>
          <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><Sparkles class="w-16 h-16 text-deluge-500" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">Clean Code Advocate</div>
        <div class="text-black text-[19px]">Commitment to writing readable, maintainable, and scalable code following best practices.</div>
      </div>
    </div>
    <div class="flex flex-row relative">
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><User class="w-16 h-16 text-deluge-900" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">User-Centric Approach</div>
        <div class="text-black text-[19px]">Focus on user experience, creating intuitive and functional interfaces that solve real needs.</div>
      </div>
      <div class="hidden md:block h-full w-0.5 absolute top-0 left-1/3 transform -translate-x-1/2 z-10">
        <div class="h-full relative">
          <div class="absolute inset-0 border-r-2 border-dashed border-gray-300"></div>
          <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><Rocket class="w-16 h-16 text-deluge-500" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">Performance Driven</div>
        <div class="text-black text-[19px]">Designing solutions that prioritize efficiency and optimization for outstanding performance.</div>
      </div>
      <div class="hidden md:block h-full w-0.5 absolute top-0 left-2/3 transform -translate-x-1/2 z-10">
        <div class="h-full relative">
          <div class="absolute inset-0 border-r-2 border-dashed border-gray-300"></div>
          <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start text-left px-6 py-8 rounded-2xl">
        <div class="mb-6"><Blocks class="w-16 h-16 text-deluge-900" /></div>
        <div class="text-[27px] font-semibold mb-4 text-left">Scalability Focused</div>
        <div class="text-black text-[19px]">Building robust architectures designed to grow and evolve with project needs.</div>
      </div>
    </div>
  </div>
</div>
