---
import '../styles/global.css';
const { lang } = Astro.props;
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import ScrollToTop from '../components/core/ScrollToTop.astro';
import LanguageSelectorFixed from '../components/ui/LanguageSelectorFixed.astro';
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frysccou - Full Stack Dev | Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/Frysccou-Logo.png" />
  </head>
  <body class="min-h-screen flex flex-col bg-white">
    <Navbar />
    <main class="flex-1 w-full">
      <slot />
    </main>
    <LanguageSelectorFixed />
    <ScrollToTop />
    <Footer />
  </body>
</html>
